{% load wagtailimages_tags %}
{% for card in self.cards %}
    {% image card.image fill-300x200 as img %}
    <div class="col-xs-12 col-sm-12 col-md-12 blogBox moreBox" >
        <div class="item">
            <img src="{{ img.url }}">
            <div class="blogTxt">
                <div class="blogCategory">
                    <a href="/">Internet of Things (IoT)</a>
                </div>
                <h2>
                    {{ card.title }}
                </h2>
                <p class="post_intro hidden-xs">
                    {{ card.text }}
                </p>
            </div>
        </div>
        </div>
{% endfor %}